 <center><h2 class="mb-3">Système de prévision des coincement de la garniture (Stuck pipe)</h2></center>

        
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">RPM</label>
            <input type="text" class="form-control" id="RPM" placeholder="" required>
            <small class="text-muted">Rotation par minute</small>
            <div class="invalid-feedback">
              Ce paramètre est obligatoire
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">STOR</label>
            <input type="text" class="form-control" id="STOR" placeholder="" required>
            <small class="text-muted">Nombre total de strokes, nombre total des coupes de pompes</small>
            <div class="invalid-feedback">
              Ce paramètre est obligatoire
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">HKLX</label>
            <input type="text" class="form-control" id="HKLX" placeholder="" required>
            <small class="text-muted">Capteur poids max</small>
            <div class="invalid-feedback">
              Ce paramètre est obligatoire
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">HOOKLD</label>
            <input type="text" class="form-control" id="HOOKLD" placeholder="" required>
            <small class="text-muted">Capteur poids mécanique</small>
            <div class="invalid-feedback">
              Ce paramètre est obligatoire
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">HKLD</label>
            <input type="text" class="form-control" id="HKLD" placeholder="" required>
            <small class="text-muted">Capteur poids hydraulique</small>
            <div class="invalid-feedback">
              Ce paramètre est obligatoire
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">SPPA1</label>
            <input type="text" class="form-control" id="SPPA1" placeholder="" required>
            <small class="text-muted">Capteur de pompe 1</small>
            <div class="invalid-feedback">
              Ce paramètre est obligatoire
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">SPPA2</label>
            <input type="text" class="form-control" id="SPPA2" placeholder="" required>
            <small class="text-muted">Capteur de pompe 2</small>
            <div class="invalid-feedback">
              Ce paramètre est obligatoire
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">SPPA</label>
            <input type="text" class="form-control" id="SPPA" placeholder="" required>
            <small class="text-muted">Capteur stand pipe pressor, capteur de pression de la colonne montente</small>
            <div class="invalid-feedback">
              Ce paramètre est obligatoire
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">TQX</label>
            <input type="text" class="form-control" id="TQX" placeholder="" required>
            <small class="text-muted">Torque</small>
            <div class="invalid-feedback">
              Ce paramètre est obligatoire
            </div>
          </div>
        </div>


        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit"> <h3>Afficher le résultat de la prévision</h3> </button>